.s{
    width:100%;
    height:100vh;

    background:url(https://images.unsplash.com/photo-1695390478399-1607ff9a78d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
    background-position: center;
    background-size: cover;
}
.opacity{
    width:100%;
    height:100vh;

    background:rgba(0,0,0,.5);
    
    position:absolute;
    top:0%;
    left:0%;
    z-index:0;
}
.logo{
    width:auto;
    margin:3vw;
    font-size: 3rem;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;

    position:absolute;
    top: 0%;
    right:0%;
    z-index:2;
}

.content{
    margin:3vw;
    display:flex;
    flex-direction:column;
    
    position:absolute;
    left:0%;
    bottom:0%;
    z-index:2;
}
.logoa{
    font-size: 7rem;
    font-style: italic;
}

.s1{
    width:50vw;
    height:100vh;
    display:flex;
    flex-wrap:wrap;
    align-items:space-around;
    justify-content:space-around;

    background:black;

    overflow-y: scroll;
    position:absolute;
    right:0%;
    top:0%;
    z-index:1;
}

.content1{
    width:20rem;
    height:20rem;
    margin:2vh;
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;

    background:url(https://images.unsplash.com/photo-1695390478399-1607ff9a78d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
    background-position: center;
    background-size: cover;
}
.opacity1{
    width:100%;
    height:100%;
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;

    background:rgba(0,0,0,.5);
}
.title1{
    margin:2vh;
    color:white;
    font-size: 1.5rem;
}

.footer{
    position:absolute;
    top:100%;
    left:0%;
}