*{
    color:white;
    font-size: 16px;
    font-family: 'Playfair', serif;
}
body{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0;
    margin:0;
    width:100%;
    height:100vh;

    background:black;
    overflow-x: hidden;
}

.f{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.logofa{
    width:3rem;
    height:3rem;
    margin:10vh 0 0 0;

    background:white;
}
.navf{
    width:auto;
    padding:0 5vh 3vh 5vh;
    display:flex;
    align-items:center;
    justify-content:center;

    border-bottom:2px solid gray;
}
.nav-itemf{
    margin:0 2vw;
    transition:color 0.5s ease;
}
.nav-itemf:hover{
    color:gray;
}
.socialsf{
    width:25%;
    height:auto;
    margin:3vh 0;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.socialf{
    width:1.5rem;
    height:1.5rem;

    border-radius:.25rem;
    background:white;
    transition:background 0.5s ease;
}
.socialf:hover{
    background:gray;
}
.logof{
    width:90%;
    margin:2vh 0;
    text-align:center;
    font-size: 7rem;
}
.descrf{
    width:90%;
    padding:2vh 0 3vw 0;

    text-align:center;

    border-top:2px solid gray;
    color:gray;
    font-style: italic;
}